[Unit]
Description=DragonPBX drachtio SIP server
After=network-online.target redis-server.service
Wants=network-online.target

[Service]
Type=forking
EnvironmentFile=-/opt/dragonpbx/config/dragonpbx.env
ExecStartPre=/usr/local/bin/dragonpbx-detect-ip
EnvironmentFile=-/run/dragonpbx/network.env
ExecStart=/usr/bin/drachtio --daemon \
  --contact sip:${LOCAL_IP};transport=udp --external-ip ${PUBLIC_IP} \
  --contact sip:${LOCAL_IP};transport=tcp --external-ip ${PUBLIC_IP} \
  --address 0.0.0.0 --port 9022
TimeoutSec=15s
Restart=always
RestartSec=2
User=root
Group=daemon
LimitCORE=infinity
LimitNOFILE=100000
LimitNPROC=60000
LimitRTPRIO=infinity
LimitRTTIME=7000000
UMask=0007

[Install]
WantedBy=multi-user.target
